
*{
    margin: 0 auto;
    padding: 0 auto;
}
body {
 
    font-family: "Sigmar", sans-serif;
  font-weight: 100;
  font-style: normal;
    
}
header {
  width: 100%;
  background: linear-gradient(90deg, #4CAF50, #052806);
  color: #fff;
  text-align: center;
}
header h1{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.4em;
}

nav{
    background: rgb(236, 233, 236);
    padding: 15px;
    justify-content:center;
    
}
nav a{
    text-decoration: none;
    color: black;
    padding: 12px;
    text-align: center;

}

nav a:hover{
    color: tomato;
}


  form {
    margin-top: 20px;
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }
  input, button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 5px;
  }
  input{
    border: 1px solid #ccc;
    width: 95%;
  }
  button {
  width: 98%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button[type="reset"]{
      background-color: #b5beb5;
      
  }
  button:hover {
    background-color: #45a049;
  }
  p {
    font-size: 18px;
    color: #555;
  }

  h3{
    text-align: center;
  }

#resultado{
  display: none;
}

#total{
  background-color: #aaeaad;
}

table {
  width: 65%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para las celdas de la tabla */
th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Estilos para el encabezado de la tabla */
th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

/* Estilos para las filas de la tabla */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para la primera columna (opcional) */
td:first-child {
  font-weight: bold;
  color: #333;
}

